<div class="footer">
  <div class="footer-links">
    <%# <a href="https://www.youtube.com/@LeWagon"><i class="fa-brands fa-youtube"></i></a> %>
    <a href="https://github.com/somunachima/" target="_blank"><i class="fab fa-github"></i></a>
    <%# <a href="https://www.instagram.com/scanher_/"><i class="fab fa-instagram"></i></a> %>
    <%# <a href="https://en-gb.facebook.com/lewagon/"><i class="fab fa-facebook"></i></a> %>
    <%# <a href="https://twitter.com/lewagonlondon"><i class="fab fa-twitter"></i></a> %>
    <a href="https://www.linkedin.com/in/somakudu/" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>This website is made with <i class="fas fa-heart"></i> by Som</p>
  </div>
</div>
